<div id="mc_embed_shell">
    <div id="mc_embed_signup">
        <form action="https://theribbonbox.us21.list-manage.com/subscribe/post?u=9aaf83eb58d720657653621db&amp;id=41627cf5ea&amp;f_id=008de8e6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">
            <div id="mc_embed_signup_scroll">
                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                <div class="mc-field-group input-group">
                    <strong>Select your categories </strong>
                    <ul>
                        <li><input type="checkbox" name="group[1999][1]" id="mce-group[1999]-1999-0" value=""><label for="mce-group[1999]-1999-0">Wellbeing</label></li>
                        <li><input type="checkbox" name="group[1999][2]" id="mce-group[1999]-1999-1" value=""><label for="mce-group[1999]-1999-1">Fertility</label></li>
                        <li><input type="checkbox" name="group[1999][4]" id="mce-group[1999]-1999-2" value=""><label for="mce-group[1999]-1999-2">Pregnancy</label></li>
                        <li><input type="checkbox" name="group[1999][8]" id="mce-group[1999]-1999-3" value=""><label for="mce-group[1999]-1999-3">Parenting</label></li>
                    </ul>
                </div>
                <div class="mc-field-group">
                    <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                    <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_9aaf83eb58d720657653621db_41627cf5ea" tabindex="-1" value="">
                </div>
                <div class="clear"><input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe"></div>
            </div>
        </form>
    </div>
</div>
